* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body,
button,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.container {
    width: 540px;
    height: auto;
    margin: 12px auto;
}

body {
    width: 100%;
    height: 300px;
    background: url('../img/bg-day.png') center / cover no-repeat;
    background-color: #ffffff;
    /*  background: linear-gradient(135deg, #c850c0, #4158d0) center / cover no-repeat; */
}

/* HEADER--------------------- */
.logo-name {
    padding: 48px 0 24px 0;
    color: #fff;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 24px;
}

/* Criar Tarefa --------------------- */
.box-task {
    position: relative;
    width: 540px;
    background: #fff;
    padding: 24px;
    box-shadow: 0 10px 20px rgba(99, 99, 99, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.input-task {
    width: 100%;
    height: 40%;
    position: relative;
}

.input-task input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 16px;
    border-bottom: 2px solid silver;
}

.input-task input:focus~label,
.input-task input:valid~label {
    transform: translateY(-15px);
    font-size: 14px;
    color: grey;
}

.input-task label {
    position: absolute;
    left: 0;
    bottom: 8px;
    color: #4158d0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.input-task span {
    position: absolute;
    right: 0;
    bottom: 4px;
    color: #c850c0;
    cursor: pointer;
}

input[type="datetime-local"] {
    position: absolute;
    right: 24px;
    bottom: 4px;
    width: 45px;
    border: none;
}

/* Lista de Tarefas --------------------- */
.lista-Tarefas {
    height: 600px;
    padding-top: 8px;
    background: #ffffff;
}

/* Tarefas --------------------- */
.task {
    display: inline-flex;
    position: relative;
    align-items: center;
    height: 64px;
    width: 100%;
    color: #4158d0;
    padding: 0 24px 12px 24px;
    border: 1px solid #E5E4E9;
    display: flex;
}


.content-data {
    margin-top: 8px;
    padding: 24px 0 8px 24px;
    color: #c850c0;
    font-weight: 500;
}

.text-task {
    margin: 0 16px;
    color: chocolate;
}

.clock-task {
    padding: 4px 0;
    color: rgb(114, 30, 210);
}

.done .text-task{
    text-decoration: line-through;
}

.bt-concluir{
    background-color: aqua;
}

.bt-deletar{
    background-color: #c850c0;
}

/* MAIN--------------------- */
main {
    box-shadow: 0 10px 20px rgba(99, 99, 99, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* FOOTER--------------------- */
footer {
    background-color: brown;
}